In [1]:
import pandas as pd
df = pd.read_csv('boat_data.csv')
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [2]:
df["Length"].max()

100.0

In [2]:
df['Width'].max()

NameError: name 'df' is not defined

In [3]:
df["Year Built"].max()

NameError: name 'df' is not defined

In [4]:
import pandas as pd
df = pd.read_csv('boat_data.csv')
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [5]:
df["Length"].max()

100.0

In [6]:
df["Length"].min()

1.04

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [8]:
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

In [9]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [10]:
df['Price'].unique()

array(['CHF 3337', 'EUR 3490', 'CHF 3770', ..., 'EUR 4499', 'EUR 4300',
       'CHF 3780'], dtype=object)

In [11]:
df['Width'].unique()

array([1.900e+00, 1.500e+00, 1.420e+00, 1.000e+00, 1.460e+00, 1.560e+00,
       2.380e+00,       nan, 1.370e+00, 1.730e+00, 1.750e+00, 1.410e+00,
       2.000e+00, 1.650e+00, 1.330e+00, 1.490e+00, 1.640e+00, 2.840e+00,
       2.310e+00, 1.710e+00, 2.100e+00, 2.470e+00, 1.550e+00, 1.580e+00,
       2.450e+00, 1.670e+00, 1.620e+00, 1.740e+00, 2.200e+00, 1.780e+00,
       2.060e+00, 2.230e+00, 1.850e+00, 2.270e+00, 2.150e+00, 2.040e+00,
       1.860e+00, 2.900e+00, 2.650e+00, 2.480e+00, 1.700e+00, 2.540e+00,
       2.280e+00, 3.000e+00, 2.300e+00, 2.180e+00, 1.980e+00, 2.500e+00,
       1.400e+00, 2.330e+00, 1.360e+00, 1.950e+00, 2.030e+00, 2.850e+00,
       2.420e+00, 1.600e+00, 1.820e+00, 2.210e+00, 2.600e+00, 2.370e+00,
       2.360e+00, 2.520e+00, 2.340e+00, 2.400e+00, 2.390e+00, 2.590e+00,
       2.970e+00, 2.120e+00, 2.220e+00, 2.750e+00, 2.250e+00, 2.490e+00,
       2.950e+00, 1.800e+00, 4.960e+00, 3.100e+00, 3.650e+00, 1.930e+00,
       2.570e+00, 2.790e+00, 2.440e+00, 2.080e+00, 2.160e+00, 1.990e+00,
       2.350e+00, 2.070e+00, 3.140e+00, 1.960e+00, 2.980e+00, 3.200e+00,
       2.290e+00, 1.830e+00, 2.020e+00, 3.060e+00, 2.800e+00, 2.010e+00,
       2.240e+00, 4.700e+00, 1.940e+00, 3.250e+00, 2.320e+00, 2.720e+00,
       2.940e+00, 3.500e+00, 2.430e+00, 1.970e+00, 2.580e+00, 2.050e+00,
       3.180e+00, 2.530e+00, 3.430e+00, 2.550e+00, 2.090e+00, 2.460e+00,
       2.510e+00, 3.400e+00, 3.040e+00, 2.780e+00, 2.660e+00, 2.640e+00,
       2.990e+00, 3.410e+00, 2.620e+00, 3.600e+00, 9.900e+00, 2.680e+00,
       2.130e+00, 5.600e+00, 2.260e+00, 3.300e+00, 3.290e+00, 2.890e+00,
       2.700e+00, 2.740e+00, 3.780e+00, 2.560e+00, 3.050e+00, 3.520e+00,
       2.670e+00, 2.960e+00, 2.760e+00, 4.200e+00, 5.100e+00, 3.150e+00,
       3.680e+00, 3.360e+00, 3.210e+00, 3.070e+00, 2.140e+00, 2.630e+00,
       2.170e+00, 3.450e+00, 4.300e+00, 2.810e+00, 2.930e+00, 3.880e+00,
       2.770e+00, 2.830e+00, 3.020e+00, 3.800e+00, 3.850e+00, 3.840e+00,
       3.160e+00, 2.730e+00, 3.350e+00, 3.080e+00, 2.690e+00, 2.610e+00,
       3.270e+00, 3.240e+00, 4.000e+00, 2.710e+00, 3.960e+00, 3.990e+00,
       8.500e+00, 3.550e+00, 3.700e+00, 3.750e+00, 2.870e+00, 6.160e+00,
       4.100e+00, 4.040e+00, 3.490e+00, 3.620e+00, 2.860e+00, 4.150e+00,
       3.260e+00, 3.530e+00, 3.230e+00, 4.410e+00, 4.270e+00, 4.860e+00,
       3.660e+00, 4.010e+00, 4.600e+00, 3.760e+00, 4.260e+00, 3.470e+00,
       3.540e+00, 3.380e+00, 4.390e+00, 4.220e+00, 6.100e+00, 4.120e+00,
       3.110e+00, 4.990e+00, 3.480e+00, 4.500e+00, 4.570e+00, 3.560e+00,
       4.180e+00, 4.520e+00, 3.860e+00, 4.170e+00, 3.900e+00, 3.460e+00,
       3.950e+00, 4.210e+00, 4.950e+00, 4.050e+00, 3.740e+00, 4.380e+00,
       3.730e+00, 3.440e+00, 4.290e+00, 4.400e+00, 4.090e+00, 3.640e+00,
       4.250e+00, 4.350e+00, 3.710e+00, 1.220e+00, 3.220e+00, 3.890e+00,
       3.610e+00, 2.920e+00, 1.010e+00, 3.720e+00, 3.570e+00, 5.080e+00,
       8.990e+00, 3.420e+00, 2.820e+00, 2.410e+00, 7.550e+00, 6.000e+00,
       3.670e+00, 3.330e+00, 3.810e+00, 3.920e+00, 4.240e+00, 4.800e+00,
       5.500e+00, 3.910e+00, 6.080e+00, 4.080e+00, 3.930e+00, 4.480e+00,
       5.210e+00, 4.920e+00, 3.170e+00, 4.490e+00, 5.000e+00, 3.310e+00,
       4.160e+00, 4.780e+00, 4.650e+00, 4.320e+00, 3.510e+00, 4.430e+00,
       4.630e+00, 3.770e+00, 4.110e+00, 5.430e+00, 4.560e+00, 3.980e+00,
       4.140e+00, 3.940e+00, 4.730e+00, 4.280e+00, 4.450e+00, 4.020e+00,
       4.880e+00, 6.710e+00, 9.980e+00, 3.390e+00, 3.370e+00, 4.870e+00,
       4.060e+00, 5.490e+00, 4.620e+00, 3.590e+00, 3.830e+00, 4.070e+00,
       4.030e+00, 4.330e+00, 9.100e-01, 4.130e+00, 3.630e+00, 4.550e+00,
       4.580e+00, 4.900e+00, 3.690e+00, 5.800e+00, 4.740e+00, 3.320e+00,
       5.110e+00, 4.470e+00, 4.750e+00, 5.180e+00, 4.610e+00, 4.970e+00,
       5.070e+00, 4.640e+00, 5.090e+00, 4.340e+00, 3.970e+00, 5.700e+00,
       4.190e+00, 5.050e+00, 4.420e+00, 4.760e+00, 5.300e+00, 4.440e+00,
       6.350e+00, 5.240e+00, 3.030e+00, 3.870e+00, 4.690e+00, 4.590e+00,
       4.360e+00, 4.510e+00, 4.720e+00, 6.600e+00, 4.460e+00, 4.540e+00,
       5.250e+00, 4.850e+00, 5.280e+00, 5.450e+00, 4.930e+00, 5.260e+00,
       5.950e+00, 6.090e+00, 5.790e+00, 5.980e+00, 4.890e+00, 6.180e+00,
       1.120e+00, 4.910e+00, 4.310e+00, 5.060e+00, 4.820e+00, 6.550e+00,
       5.620e+00, 6.040e+00, 4.980e+00, 5.560e+00, 5.400e+00, 5.030e+00,
       7.640e+00, 5.480e+00, 5.120e+00, 5.680e+00, 4.940e+00, 8.000e+00,
       5.720e+00, 4.810e+00, 6.170e+00, 5.330e+00, 5.410e+00, 5.230e+00,
       5.310e+00, 5.200e+00, 7.750e+00, 5.220e+00, 4.370e+00, 6.200e+00,
       5.610e+00, 5.960e+00, 5.750e+00, 4.790e+00, 4.660e+00, 6.190e+00,
       1.000e-02, 5.520e+00, 5.670e+00, 4.840e+00, 6.300e+00, 5.510e+00,
       4.670e+00, 5.130e+00, 5.580e+00, 5.150e+00, 6.430e+00, 5.810e+00,
       7.220e+00, 6.440e+00, 5.850e+00, 9.000e+00, 6.400e+00, 5.270e+00,
       1.161e+01, 6.500e+00, 5.730e+00, 6.130e+00, 5.820e+00, 6.260e+00,
       7.450e+00, 4.530e+00, 5.540e+00, 5.380e+00, 6.280e+00, 5.970e+00,
       6.050e+00, 6.340e+00, 1.100e+01, 5.650e+00, 6.750e+00, 6.570e+00,
       6.930e+00, 6.730e+00, 7.060e+00, 7.000e+00, 7.300e+00, 6.640e+00,
       7.700e+00, 7.800e+00, 5.290e+00, 6.850e+00, 7.100e+00, 5.640e+00,
       7.530e+00, 7.250e+00, 7.080e+00, 7.400e+00, 7.050e+00, 7.010e+00,
       6.480e+00, 8.570e+00, 8.200e+00, 1.000e+01, 8.100e+00, 8.800e+00,
       7.350e+00, 7.500e+00, 7.830e+00, 7.600e+00, 8.250e+00, 9.600e+00,
       1.040e+01, 9.500e+00, 8.090e+00, 8.410e+00, 7.540e+00, 8.140e+00,
       7.430e+00, 7.040e+00, 7.440e+00, 6.580e+00, 7.410e+00, 6.920e+00,
       7.070e+00, 6.950e+00, 6.760e+00, 6.470e+00, 7.470e+00, 7.160e+00,
       8.400e+00, 7.390e+00, 1.141e+01, 6.650e+00, 7.260e+00, 6.900e+00,
       7.030e+00, 6.230e+00, 7.200e+00, 6.490e+00, 7.900e+00, 5.740e+00,
       5.760e+00, 6.800e+00, 8.440e+00, 6.520e+00, 6.120e+00, 6.150e+00,
       1.050e+01, 2.516e+01, 6.720e+00, 6.450e+00, 7.590e+00, 1.015e+01,
       5.900e+00, 5.570e+00, 9.300e+00, 6.740e+00, 6.510e+00, 6.880e+00,
       5.590e+00, 5.940e+00, 5.420e+00, 6.270e+00, 5.320e+00, 5.830e+00,
       5.440e+00, 5.870e+00, 5.710e+00, 6.700e+00, 5.690e+00, 6.310e+00,
       5.390e+00, 7.020e+00, 5.880e+00, 4.770e+00, 4.830e+00, 5.460e+00,
       5.010e+00, 6.320e+00, 7.650e+00, 6.330e+00, 5.530e+00, 5.350e+00,
       9.200e+00, 5.160e+00, 5.020e+00, 5.890e+00, 5.920e+00, 1.160e+01,
       5.660e+00, 5.140e+00, 7.270e+00, 6.030e+00, 1.500e+01, 1.600e+01,
       7.620e+00, 3.580e+00, 3.190e+00, 3.120e+00, 4.680e+00, 6.680e+00,
       9.950e+00, 6.420e+00, 5.170e+00, 2.880e+00, 3.280e+00, 5.550e+00,
       5.770e+00, 5.040e+00, 3.090e+00, 1.920e+00, 1.910e+00, 1.430e+00,
       3.790e+00, 3.340e+00, 8.600e-01, 8.260e+00, 6.960e+00, 3.130e+00,
       2.190e+00, 1.790e+00, 1.870e+00, 1.590e+00, 5.000e-01, 1.180e+00,
       7.400e-01, 1.760e+00, 2.110e+00, 1.840e+00, 1.450e+00, 1.680e+00,
       1.770e+00, 1.690e+00, 1.720e+00, 1.520e+00, 1.510e+00, 1.890e+00])

In [12]:
df['Price'].value_counts()

Price
EUR 65000      77
EUR 45000      67
EUR 75000      64
EUR 89000      64
EUR 55000      61
               ..
EUR 1199000     1
EUR 1197600     1
EUR 1184590     1
EUR 1163760     1
CHF 3780        1
Name: count, Length: 3182, dtype: int64

In [13]:
df['Width'].value_counts()

Width
2.50    346
3.00    251
2.59    204
2.55    195
2.54    170
       ...
7.44      1
6.92      1
6.95      1
7.47      1
1.89      1
Name: count, Length: 575, dtype: int64

In [14]:
df['Length'].max()

100.0

In [15]:
df['Length'].min()

1.04

In [16]:
df[df['Length']==4]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.0,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.0,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.0,1.00,NaN,Denmark Â» Svendborg,124
26,CHF 4200,Fishing Boat,MÃ¤ndli power boats,"Used boat,Unleaded",0,4.0,1.50,GRP,Switzerland Â» Lake of Zurich Â» MÃ¤nnedorf,295
39,EUR 3500,Sport Boat,Rio power boats,"Used boat,Unleaded",1991,4.0,1.62,NaN,"France Â» DIENVILLE, DIENVILLE",98
55,CHF 5500,Runabout,Kimple power boats,new boat from stock,2020,4.0,1.65,Aluminium,Switzerland Â» Zugersee Â» Neuheim,99
92,EUR 8500,Runabout,NaN,"Used boat,Unleaded",1975,4.0,1.62,GRP,Slovenia Â» Ljubljana,110
158,DKK 89000,Sport Boat,Crescent power boats,new boat from stock,2019,4.0,1.00,NaN,Denmark Â» Svendborg,166
159,DKK 89000,Launch,NaN,new boat from stock,2020,4.0,2.00,NaN,Denmark Â» Svendborg,134
166,DKK 94990,Launch,NaN,new boat from stock,2020,4.0,1.00,NaN,Denmark Â» Svendborg,67
249,DKK 119500,Deck Boat,Yamarin power boats,new boat from stock,2020,4.0,1.00,NaN,Denmark Â» Svendborg,50
309,DKK 137800,Center console boat,Yamarin power boats,new boat from stock,2020,4.0,2.00,NaN,Denmark Â» Svendborg,95
9048,DKK 188000,Bowrider,Campion power boats,new boat from stock,2020,4.0,2.00,NaN,Denmark Â» Svendborg,104
9395,EUR 17950,Sport Boat,Olympic power boats,"new boat from stock,Unleaded",2019,4.0,1.95,GRP,Germany Â» Bayern Â» 82024 Taufkirchen,109
9412,EUR 17500,Bowrider,Jans power boats,"new boat from stock,Unleaded",2018,4.0,1.70,Aluminium,Germany Â» Bayern Â» Saal a .d. Donau,52
9420,DKK 128000,Launch,NaN,new boat from stock,2020,4.0,2.00,NaN,Denmark Â» Svendborg,106
9485,EUR 15950,"Classic,Runabout",NaN,"Used boat,Electric",1969,4.0,1.60,Wood,Germany Â» Starnberger See Â» Tutzing,168
9540,DKK 109990,Launch,NaN,new boat from stock,2020,4.0,1.00,NaN,Denmark Â» Svendborg,83
9642,DKK 89990,Deck Boat,Crescent power boats,new boat from stock,2019,4.0,1.00,NaN,Denmark Â» Svendborg,98
9752,DKK 69500,Center console boat,Pioner power boats,new boat from stock,2019,4.0,1.00,NaN,Denmark Â» Svendborg,62
9822,DKK 52000,Sport Boat,Crescent power boats,new boat from stock,2019,4.0,NaN,NaN,Denmark Â» Svendborg,126
9865,CHF 5390,Working Boat,Cipax AS power boats,"new boat on order,Unleaded",0,4.0,1.80,NaN,Switzerland Â» Safenwil,117
9866,DKK 36500,Sport Boat,NaN,Used boat,1985,4.0,1.00,NaN,Denmark Â» Svendborg,96

In [17]:
df[df['Width']== '3.00']

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days]
Index: []